Repository kubestellar/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, pages, styles, ci-cd, config, dependencies, contributing, operations, typescript, javascript, html, yaml, json, minor, major, patch

fix-stars
  src/app/globals.css
  src/components/Footer.tsx
  src/components/Navigation.tsx
  src/components/StarField.tsx
  src/components/master-page/AboutSection.tsx
  src/components/master-page/ContactSection.tsx
  src/components/master-page/GetStartedSection.tsx
  src/components/master-page/HeroSection.tsx
  src/components/master-page/HowItWorksSection.tsx
  src/components/master-page/UseCasesSection.tsx
Labels: frontend, pages, styles, typescript, major

fixup
  src/components/StarField.tsx
Labels: frontend, typescript, major

fix-contacts
  src/components/master-page/ContactSection.tsx
Labels: frontend, typescript, major

fix-dropdown
  src/components/master-page/ContactSection.tsx
Labels: frontend, typescript, major

enhancement in get in contact section
  src/components/master-page/ContactSection.tsx
Labels: frontend, typescript, major

Designed getStarted Component
  src/components/master-page/GetStartedSection.tsx
Labels: frontend, typescript, major

Fixed Eslint Errors
  next.config.ts
  src/app/globals.css
  src/components/Navigation.tsx
  src/components/StarField.tsx
  src/components/master-page/GetStartedSection.tsx
Labels: frontend, pages, styles, typescript, major

fixup
  src/components/master-page/ContactSection.tsx
Labels: frontend, typescript, major

ficup
  src/components/master-page/AboutSection.tsx
Labels: frontend, typescript, major

add owners
  OWNERs
Labels: none

fix
  src/components/master-page/ContactSection.tsx
Labels: frontend, typescript, major

Refactor Navigation component to utilize useDropdown hook for dropdown functionality
  src/components/Navigation.tsx
  src/hooks/useDropdown.ts
Labels: frontend, typescript, major

new changes
  src/components/master-page/UseCasesSection.tsx
Labels: frontend, typescript, major

Add useParallax hook and integrate it into HeroSection for enhanced 3D effects
  src/components/master-page/HeroSection.tsx
  src/hooks/useParallax.ts
Labels: frontend, typescript, major

Dive in Compoannt Formate
  package-lock.json
  src/components/master-page/AboutSection.tsx
  src/components/master-page/ContactSection.tsx
  src/components/master-page/GetStartedSection.tsx
  src/components/master-page/HeroSection.tsx
  src/components/master-page/HowItWorksSection.tsx
  src/components/master-page/UseCasesSection.tsx
  src/components/master-page/components/BackgroundEffects.tsx
  src/components/master-page/components/GridBackground.tsx
Labels: frontend, dependencies, typescript, json, major

Add a used hover hook for the sbout psgr
  src/components/master-page/AboutSection.tsx
  src/hooks/useHover.ts
Labels: frontend, typescript, major

Add useDropdown export from hooks for dropdown functionality
  src/index.ts
Labels: frontend, typescript

Refactor Navigation component to import useDropdown from index
  src/components/Navigation.tsx
Labels: frontend, typescript, major

Before working on any issue, please coordinate first
  src/components/GridBackground.tsx
  src/components/master-page/AboutSection.tsx
  src/components/master-page/ContactSection.tsx
  src/components/master-page/GetStartedSection.tsx
  src/components/master-page/HowItWorksSection.tsx
  src/components/master-page/UseCasesSection.tsx
Labels: frontend, typescript, major

Add reusable GridBackground component and integrate across sections
  src/components/GridBackground.tsx
  src/components/master-page/GetStartedSection.tsx
Labels: frontend, typescript, major

.github/labeler.yml:

# Documentation related changes
documentation:
  - docs/**/*
  - README.md
  - "**/*.md"

# Next.js frontend changes
frontend:
  - src/**/*
  - next.config.js
  - package.json
  - package-lock.json
  - yarn.lock
  - tailwind.config.js
  - postcss.config.js

# Pages and routing
pages:
  - src/app/**/*
  - src/pages/**/*

# Styles and assets
styles:
  - src/styles/**/*
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"

# GitHub workflows and CI/CD
ci-cd:
  - .github/workflows/**/*
  - .github/actions/**/*

# Configuration files
config:
  - .github/labeler.yml
  - .gitignore
  - .eslintrc*
  - .prettierrc*
  - tsconfig.json
  - next.config.js
  - tailwind.config.js
  - postcss.config.js

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

# Contributing guidelines
contributing:
  - docs/content/contribution-guidelines/**/*
  - CONTRIBUTING.md
  - "**/*contribut*"

# Operations
operations:
  - docs/content/contribution-guidelines/operations/**/*
  - "**/*operation*"

# TypeScript files
typescript:
  - "**/*.ts"
  - "**/*.tsx"

# JavaScript files
javascript:
  - "**/*.js"
  - "**/*.jsx"

# HTML files
html:
  - "**/*.html"

# YAML files
yaml:
  - "**/*.yml"
  - "**/*.yaml"

# JSON files
json:
  - "**/*.json"

# Minor changes (typically small fixes, typos, etc.)
minor:
  - "*.md"
  - docs/**/*.md
  - "**/*typo*"
  - "**/*fix*"

# Major changes (new features, breaking changes)
major:
  - src/components/**/*
  - src/app/**/*
  - package.json
  - next.config.js

# Patch changes (bug fixes, small improvements)
patch:
  - "**/*fix*"
  - "**/*patch*"
  - "**/*bug*"
