Repository kubestellar/docs, pull requests merged in 2025-10, with the labels that each got.

#91 Minor:label-pr workflow
  .github/labeler.yml
  .github/workflows/label-pr.yml
Labels: ci-cd, config

#92 major: community page done
  src/app/community-handbook/handbook.ts
  src/app/community-handbook/page.tsx
  src/app/globals.css
  src/app/reference/community-handbook.html
  src/app/reference/index.html
  src/components/Navigation.tsx
Labels: frontend, typescript, major, pages, styles, html

#95 Fixes page margin of community handbook
  src/app/community-handbook/page.tsx
Labels: frontend, typescript, pages

#108 fix(ui): remove unnecessary span element
  src/components/master-page/HeroSection.tsx
Labels: frontend, typescript

#111 update the slack link
  src/components/master-page/GetStartedSection.tsx
Labels: frontend, typescript

#76 Minor: Created gridline background reusable component
  src/app/community-handbook/page.tsx
  src/app/globals.css
  src/app/programs/[slug]/ProgramPageClient.tsx
  src/app/programs/page.tsx
  src/components/Footer.tsx
  src/components/Navigation.tsx
  src/components/animations/GridLines.tsx
  src/components/animations/StarField.tsx
  src/components/index.tsx
  src/components/master-page/AboutSection.tsx
  src/components/master-page/ContactSection.tsx
  src/components/master-page/GetStartedSection.tsx
  src/components/master-page/HeroSection.tsx
  src/components/master-page/HowItWorksSection.tsx
  src/components/master-page/UseCasesSection.tsx
Labels: frontend, typescript, major, pages, styles, hold

#105 patch: major/minor/patch label workflow
  .github/workflows/label-pr.yml
Labels: ci-cd
