Repository kubestellar/docs, pull requests merged in 2025-09, with the labels that each got.

#54 Added Code_Of_Conduct explicity
  CODE_OF_CONDUCT.md
Labels: documentation, minor

#52 Refactor footer based on figma design
  src/components/Footer.tsx
Labels: frontend, typescript, major

#59 KubeStellar logo on the Github Docs website is broken
  public/KubeStellar-with-Logo-transparent.png
  src/components/Footer.tsx
  src/components/Navigation.tsx
Labels: frontend, typescript, major

#64 Designed getStarted Component
  next.config.ts
  src/app/globals.css
  src/components/Navigation.tsx
  src/components/StarField.tsx
  src/components/master-page/GetStartedSection.tsx
Labels: frontend, typescript, major, pages, styles

#62 Refactor AboutSection
  src/components/master-page/AboutSection.tsx
Labels: frontend, typescript, major

#61 Refactor ContactSection.tsx
  src/components/master-page/ContactSection.tsx
Labels: frontend, typescript, major

#77 Minor: fixed the workflow
  .github/workflows/update-progress.yml
Labels: ci-cd
